RefrenceProject/EDS_ENS/SimpleEDSQuery/Service References/EDSDemoProxy/item16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aircominternational.com/contract/EDS/DST/2009/10" elementFormDefault="qualified" targetNamespace="http://www.aircominternational.com/contract/EDS/DST/2009/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snpts675:8732/?xsd=xsd2" namespace="http://www.aircominternational.com/contract/Util/2009/10" />
  <xs:import schemaLocation="http://snpts675:8732/?xsd=xsd4" namespace="http://www.aircominternational.com/Schemas/Query/2009/09" />
  <xs:complexType name="RequestBaseType" abstract="true">
    <xs:sequence>
      <xs:element xmlns:q1="http://www.aircominternational.com/contract/Util/2009/10" minOccurs="1" maxOccurs="1" ref="q1:itemID" />
      <xs:element minOccurs="1" maxOccurs="1" name="TimeoutOverride" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:attribute xmlns:q2="http://www.aircominternational.com/Schemas/Query/2009/09" name="objectType" type="q2:QueryableTypes" />
  <xs:complexType name="DataResponseBaseType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.aircominternational.com/contract/Util/2009/10" base="q3:ResponseType">
        <xs:attribute name="timeStamp" type="xs:dateTime" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestResult" type="tns:TestResultType" />
  <xs:complexType name="TestResultType">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attribute xmlns:q4="http://www.aircominternational.com/contract/Util/2009/10" ref="q4:itemIDRef" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>