RefrenceProject/EDS_ENS/ENSConsoleApp/Service References/ENSProxy/SubscriptionManager4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/serviceModel/2004/05/xpathfilter/" targetNamespace="http://schemas.microsoft.com/serviceModel/2004/05/xpathfilter/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="XPathMessageFilter">
    <xs:sequence>
      <xs:element name="XPath">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="Dialect" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="NodeQuota" type="xs:int" use="optional" />
    <xs:anyAttribute />
  </xs:complexType>
</xs:schema>