RefrenceProject/EDS_ENS/EDSBulkFetcher/Service References/EDSDemoProxy/EDS26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aircominternational.com/Schemas/CommonTypes/2011/04" elementFormDefault="qualified" targetNamespace="http://www.aircominternational.com/Schemas/CommonTypes/2011/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RawLocationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="X" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Y" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Z" type="xs:double" />
    </xs:sequence>
    <xs:attribute name="Relative" type="tns:LocationTypeEnum" use="required" />
    <xs:attribute name="EPSG" type="xs:unsignedInt" use="required" />
  </xs:complexType>
  <xs:simpleType name="LocationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Absolute" />
      <xs:enumeration value="Relative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AntennaConstraintsv80Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AntennaDeviceFixed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AntennaPatternFixed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MechanicalDownTiltFixed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AzimuthFixed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HeightFixed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="UseBearingConstraints" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ClockwiseBearingAngle" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AntiClockwiseBearingAngle" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TotalMinimumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TotalMaximumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ElectricalMinimumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ElectricalMaximumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ElectricalDowntiltStep" type="tns:DownTiltStepType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MechanicalMinimumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MechanicalMaximumDowntilt" type="tns:DownTiltType" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MechanicalDowntiltStep" type="tns:DownTiltStepType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DownTiltType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="Constrained" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DownTiltStepType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="Constrained" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LocationTypeRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Latitude" type="xs:double" />
    </xs:sequence>
    <xs:attribute name="EPSG" type="xs:unsignedInt" />
    <xs:attribute name="Readonly" type="xs:boolean" />
  </xs:complexType>
</xs:schema>