Client/BLL/Web References/AirComSvr/AirComService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:PLAData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PLAData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BaseInfo" type="tns:AirComLTENodeBaseInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="CellSectors" type="tns:ArrayOfCellSector" />
          <s:element minOccurs="0" maxOccurs="1" name="Savedir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionBound" type="tns:GeoRegion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AirComLTENodeBaseInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationAlias" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Lng" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="StationType" type="tns:EnumStationType" />
          <s:element minOccurs="1" maxOccurs="1" name="SaveType" type="tns:EnumSaveType" />
          <s:element minOccurs="1" maxOccurs="1" name="CoverType" type="tns:EnumCoverType" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanPrjID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EnumStationType">
        <s:restriction base="s:string">
          <s:enumeration value="Planning" />
          <s:enumeration value="Extant" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EnumSaveType">
        <s:restriction base="s:string">
          <s:enumeration value="Save" />
          <s:enumeration value="Delete" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EnumCoverType">
        <s:restriction base="s:string">
          <s:enumeration value="Outdoor" />
          <s:enumeration value="Indoor" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCellSector">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CellSector" nillable="true" type="tns:CellSector" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CellSector">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CellID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Antenners" type="tns:ArrayOfAirComAntennaType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAirComAntennaType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AirComAntennaType" nillable="true" type="tns:AirComAntennaType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AirComAntennaType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_Azimuth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_Height" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_MechanicalDownTilt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_ElectricalDownTilt" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:AirComLocationType" />
          <s:element minOccurs="1" maxOccurs="1" name="_Power" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_burthen" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SectorId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AntennaTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Azimuth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MechanicalDownTilt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ElectricalDownTilt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Power" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Burthen" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierAlias" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CarrierId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RadiusKm" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ResolutionMetres" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AirComLocationType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LongitudeField" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
        </s:sequence>
        <s:attribute name="LongitudeSpecified" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="GeoRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EastMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Eastmax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NorthMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NorthMax" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTaskResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateTaskSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="CreateTaskSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="AirComServiceSoap">
    <wsdl:operation name="CreateTask">
      <wsdl:input message="tns:CreateTaskSoapIn" />
      <wsdl:output message="tns:CreateTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirComServiceSoap" type="tns:AirComServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTask">
      <soap:operation soapAction="http://tempuri.org/CreateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirComServiceSoap12" type="tns:AirComServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTask">
      <soap12:operation soapAction="http://tempuri.org/CreateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirComService">
    <wsdl:port name="AirComServiceSoap" binding="tns:AirComServiceSoap">
      <soap:address location="http://127.0.0.1:8015/AirComService.asmx" />
    </wsdl:port>
    <wsdl:port name="AirComServiceSoap12" binding="tns:AirComServiceSoap12">
      <soap12:address location="http://127.0.0.1:8015/AirComService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>