Server/EDSProxy/Service References/EDSClient/031.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aircominternational.com/Schemas/GSM/2013/03" elementFormDefault="qualified" targetNamespace="http://www.aircominternational.com/Schemas/GSM/2013/03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.aircominternational.com/Schemas/Query/2009/09" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/Common/2013/03" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/GSM/2009/09" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/GSM/2010/08" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/Common/2011/04" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/ReadOnlyTypes/2010/01" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/Common/2010/08" />
  <xs:import namespace="http://www.aircominternational.com/Schemas/Enumerations/2009/07" />
  <xs:complexType name="QryGSMCellv81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.aircominternational.com/Schemas/Query/2009/09" base="q1:QryAttributeBaseType">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element xmlns:q2="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="1" maxOccurs="1" name="RootAttribute" type="q2:QryRootEntityAttributes" />
            <xs:element minOccurs="1" maxOccurs="1" name="GSMCell81Attribute" type="tns:QryGSMCellv81TypeAttributes" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="QryGSMCellv81TypeAttributes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Parent" />
      <xs:enumeration value="CellName" />
      <xs:enumeration value="GSMId" />
      <xs:enumeration value="MNC" />
      <xs:enumeration value="MCC" />
      <xs:enumeration value="BCC" />
      <xs:enumeration value="RAC" />
      <xs:enumeration value="LAC" />
      <xs:enumeration value="NSEI" />
      <xs:enumeration value="CellEquipment" />
      <xs:enumeration value="CGI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Antennav81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.aircominternational.com/Schemas/Common/2013/03" base="q3:LogicalAntennav81Type">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InheritMasterPattern" type="xs:int" />
          <xs:element xmlns:q4="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="Feeder" type="q4:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="FeederLength" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="ConfiguredAntennas" type="tns:ArrayOfConfiguredAntennaType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfConfiguredAntennaType">
    <xs:sequence>
      <xs:element xmlns:q5="http://www.aircominternational.com/Schemas/GSM/2009/09" minOccurs="0" maxOccurs="unbounded" name="ConfiguredAntenna" type="q5:ConfiguredAntennaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfiguredRepeater2GTxv81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.aircominternational.com/Schemas/GSM/2010/08" base="q6:ConfiguredRepeater2GTxType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HeightPredOffset" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HeightPred" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConfiguredRepeater2GRxv81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://www.aircominternational.com/Schemas/GSM/2010/08" base="q7:ConfiguredRepeater2GRxType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HeightPredOffset" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="HeightPred" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GSMRepeaterv81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://www.aircominternational.com/Schemas/Common/2011/04" base="q8:RepeaterBasev80Type">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PhotoFile" type="xs:string" />
          <xs:element xmlns:q9="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="Cabin" type="q9:IDType" />
          <xs:element xmlns:q10="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="Tower" type="q10:IDType" />
          <xs:element xmlns:q11="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="BTS" type="q11:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="BTSFixed" type="xs:boolean" />
          <xs:element xmlns:q12="http://www.aircominternational.com/Schemas/GSM/2010/08" minOccurs="0" maxOccurs="1" name="SignalCalcMethod" type="q12:CalcMethod2G" />
          <xs:element minOccurs="0" maxOccurs="1" name="RxAntenna" type="tns:ConfiguredRepeater2GRxv81Type" />
          <xs:element minOccurs="0" maxOccurs="1" name="TxAntenna" type="tns:ConfiguredRepeater2GTxv81Type" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutputPower" type="xs:double" />
          <xs:element xmlns:q13="http://www.aircominternational.com/Schemas/ReadOnlyTypes/2010/01" minOccurs="1" maxOccurs="1" name="AllowedOperations" type="q13:ReadOnlyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CellSitev81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://www.aircominternational.com/Schemas/Common/2010/08" base="q14:NetworkElementv70Type">
        <xs:sequence>
          <xs:element xmlns:q15="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="PLMN" type="q15:IDType" />
          <xs:element xmlns:q16="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="BTS" type="q16:IDType" />
          <xs:element xmlns:q17="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="Cabin" type="q17:IDType" />
          <xs:element xmlns:q18="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" minOccurs="0" maxOccurs="1" name="Tower" type="q18:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="BCFs" type="tns:ArrayOfBCFType" />
          <xs:element minOccurs="0" maxOccurs="1" name="BTSFixed" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="GSMTimeSlotsPerCarrier" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="GSMExtents" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Cells" type="tns:ArrayOfGSMCellv81Type" />
          <xs:element minOccurs="0" maxOccurs="1" name="Capacity" type="xs:double" />
          <xs:element xmlns:q19="http://www.aircominternational.com/Schemas/ReadOnlyTypes/2010/01" minOccurs="1" maxOccurs="1" name="AllowedOperations" type="q19:ReadOnlyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBCFType">
    <xs:sequence>
      <xs:element xmlns:q20="http://www.aircominternational.com/Schemas/GSM/2009/09" minOccurs="0" maxOccurs="unbounded" name="BCF" type="q20:BCFType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGSMCellv81Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" type="tns:GSMCellv81Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GSMCellv81Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://www.aircominternational.com/Schemas/CommonTypes/2009/05" base="q21:NetworkElementBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Parent" type="q21:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="CellName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GSMId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="MNC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="MCC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="LAC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="RAC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="NSEI" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="BSICSchema" type="q21:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="NCC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="BCC" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CellEquipment" type="q21:IDType" />
          <xs:element minOccurs="0" maxOccurs="1" name="CellCorrectionDB" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DTXEnableDownlink" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="DTXVoiceActivityFactor" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="FCCCategory" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="UseAntennaGain" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="AMRSupported" type="xs:boolean" />
          <xs:element xmlns:q22="http://www.aircominternational.com/Schemas/Enumerations/2009/07" minOccurs="0" maxOccurs="1" name="CityType" type="q22:CityType" />
          <xs:element minOccurs="0" maxOccurs="1" name="MaximumRadiusFront" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="MaximumRadiusBack" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="GSMCellTypeId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="SegmentId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="SegmentName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CGI" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SignallingOverhead" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="CarriedTrafficDetails" type="tns:ArrayOfCarriedTrafficDetailType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SubCells" type="tns:ArrayOfSubCellType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Antennas" type="tns:ArrayOfAntennav81Type" />
          <xs:element xmlns:q23="http://www.aircominternational.com/Schemas/ReadOnlyTypes/2010/01" minOccurs="1" maxOccurs="1" name="AllowedOperations" type="q23:ReadOnlyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCarriedTrafficDetailType">
    <xs:sequence>
      <xs:element xmlns:q24="http://www.aircominternational.com/Schemas/Common/2010/08" minOccurs="0" maxOccurs="unbounded" name="CarriedTrafficDetail" type="q24:CarriedTrafficDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSubCellType">
    <xs:sequence>
      <xs:element xmlns:q25="http://www.aircominternational.com/Schemas/GSM/2009/09" minOccurs="0" maxOccurs="unbounded" name="SubCell" type="q25:SubCellType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAntennav81Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Antenna" type="tns:Antennav81Type" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>