RefrenceProject/EDS_ENS/ENStoEDSDemo/Service References/EDSServiceProxy/item15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aircominternational.com/Schemas/Query/2009/09" elementFormDefault="qualified" targetNamespace="http://www.aircominternational.com/Schemas/Query/2009/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QrySelectType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="Simple" type="tns:QrySimpleTextType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Attribute" type="tns:QryAttributeBaseType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Or" type="tns:QryOrPredicateType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Not" type="tns:QryNotPredicateType" />
            <xs:element minOccurs="0" maxOccurs="1" name="And" type="tns:QryAndPredicateType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Type" type="tns:QryListElementType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QryBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OverrideCacheDefault">
        <xs:complexType>
          <xs:attribute default="false" name="UseQueryCache" type="xs:boolean" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QryOrPredicateType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="lhs" type="tns:QrySelectType" />
          <xs:element minOccurs="0" maxOccurs="1" name="rhs" type="tns:QrySelectType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QryAndPredicateType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="lhs" type="tns:QrySelectType" />
          <xs:element minOccurs="0" maxOccurs="1" name="rhs" type="tns:QrySelectType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QrySimpleTextType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Query" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="QryOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ieq" />
      <xs:enumeration value="eq" />
      <xs:enumeration value="gt" />
      <xs:enumeration value="lt" />
      <xs:enumeration value="start" />
      <xs:enumeration value="end" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QryAttributeBaseType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType">
        <xs:attribute name="op" type="tns:QryOperationType" use="required" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QryListElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QryBaseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QryNotPredicateType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QrySelectType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="QueryableTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LinkType" />
      <xs:enumeration value="Band" />
      <xs:enumeration value="Channel" />
      <xs:enumeration value="ModulationType" />
      <xs:enumeration value="BSICSchemaType" />
      <xs:enumeration value="CellLayerType" />
      <xs:enumeration value="CarrierLayerType" />
      <xs:enumeration value="GSMCarrierType" />
      <xs:enumeration value="BCFTypeType" />
      <xs:enumeration value="SupplierType" />
      <xs:enumeration value="CellEquipmentType" />
      <xs:enumeration value="TowerEquipType" />
      <xs:enumeration value="CabinEquipType" />
      <xs:enumeration value="BTSEquipType" />
      <xs:enumeration value="NodeBEquipmentType" />
      <xs:enumeration value="MastHeadAmplifierType" />
      <xs:enumeration value="FeederType" />
      <xs:enumeration value="LinkTerminalType" />
      <xs:enumeration value="RadioEquipType" />
      <xs:enumeration value="MWAntennaType" />
      <xs:enumeration value="AntennaPatternType" />
      <xs:enumeration value="PredictionModelType" />
      <xs:enumeration value="PLMNType" />
      <xs:enumeration value="ProjectType" />
      <xs:enumeration value="NeighbourType" />
      <xs:enumeration value="UMTSCodeSchemaType" />
      <xs:enumeration value="PtPLinkendType" />
      <xs:enumeration value="BCFType" />
      <xs:enumeration value="PtPLinkType" />
      <xs:enumeration value="LocationObjectType" />
      <xs:enumeration value="LocationObjectHierarchyType" />
      <xs:enumeration value="CellSiteType" />
      <xs:enumeration value="GSMCellType" />
      <xs:enumeration value="MSCType" />
      <xs:enumeration value="BSCType" />
      <xs:enumeration value="RNCType" />
      <xs:enumeration value="SGSNType" />
      <xs:enumeration value="WMSCType" />
      <xs:enumeration value="NodeBType" />
      <xs:enumeration value="UMTSCellType" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>